.wrapper {
  // position: relative;
  padding: 0 135px;
  margin-top: 80px;

  .general-container {
    display: flex;
    justify-content: space-between;

    .general-content {

      .general-text {
        font-size: 6rem;
        font-weight: 700;
        color: var(--white-color);
        line-height: normal;
      }

      .general-sub-text {
        margin-top: 10px;
        color: var(--white-color);
        font-size: 1.7rem;
        line-height: 28px;
      }

      .general-btn {
        margin-top: 30px;
        padding: 15px 30px;
        background-color: var(--button-color);
        color: var(--white-color);
        border-radius: 50px;

        &:hover {
          cursor: pointer;
          opacity: 0.9;
        }
      }
    }

    .frame {
      position: absolute;
      right: 50px;
      bottom: 60px;
      .frame-img {
        width: 614px;
        height: 474px;
      }
    }

    // .scrool {
    //   position: absolute;
    // }
  }
}