.app {
  
  width: 100%;
  background-color: var(--background-color);
  
  .bgc {
    width: 100%;
    background-image: url("./assets/images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 740px;
  }
}

